* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-image: linear-gradient(130deg, #4acb75, #50b098, #4a8a95);
    background-repeat: no-repeat;
    background-attachment: fixed;       /*Zorgt dat de achtergrond altijd het hele scherm blijft bedekken*/
    color: white;
  }

.profilePicture img {
    margin-top: 20px;
    width: 140px;
    border-radius: 50%;
    box-shadow: rgb(90, 89, 89) 0px 0px 8px; 
}

.profileName p {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 22px;
}

.content {                              /*Zet alle content in het midden van het scherm*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {                                 /*Zet alle linkjes onder elkaar*/
    display: flex;
    flex-direction: column;
}

.links a {
    text-align: center;
    margin: 10px;                         /*Ruimte tussen de links*/
    padding: 15px 13vw 15px 13vw;         /*Pas de padding aan om hoogte en breedte van het klikbare gedeelte en dus de hoogte/breedte van de border te veranderen*/           
    text-decoration: none;                /*Geen lijn onder de linkjes*/
    color: white;
    transition: 0.3s;                     /*stel de tijd van de transition naar a:hover in*/
    font-size: 17px;
    border-radius: 20px;                  /*Rondheid van de hoeken van de border. 0 geeft ook een leuke feel, hier twijfel ik nog tussen*/
    border: 2px solid white;            /*Eigenschappen van de border*/
}

a:hover {                                  /*Verandert de linkjes als je eroverheen hovert met de muis*/
    background-color: white;
    color: black;
}


@media (max-width: 700px) {                    /*Dit wordt actief wanneer de max-width van je scherm de aangegeven waarde heeft*/
    .links a{
        padding: 11px 24vw 11px 24vw;         /*Pas de padding aan om hoogte en breedte van het klikbare gedeelte en dus de hoogte/breedte van de border te veranderen*/
    }
}



.linksAnimated a{
    animation: animatie 1.5s;  /* Hier roep je de animatie op wanneer je over een object hovert. Je kunt er ook een tijd aan geven */
}

@keyframes animatie {  /* Hier maak je een animatie, je maakt de stappen met 0-100% en zet daarachter wat er veranderd. Er word automatisch een vloeiende animatie van gemaakt */
    0% {
        color: white;
    }
    50%{
        background-color: white;
        color: black;
    }
    100%{
        color: white;
    }
}


.links :nth-child(1){                   /*Hier zet je bij het eerste child van links een delay op de animatie, hierdoor zullen ze omstebeurd animeren ipv tegelijk*/
    animation-delay: 2000ms;
}
.links :nth-child(2){
    animation-delay: 2750ms;
}
.links :nth-child(3){
    animation-delay: 3500ms;
}
.links :nth-child(4){
    animation-delay: 4250ms;
}
.links :nth-child(5){
    animation-delay: 5000ms;
}






.css-selector {                          /*De gradiant background animatie*/
    background: linear-gradient(314deg, #3ec6e4, #3c8eee, #7658ec, #c474e8, #eeae63, #73d264, #63ee93, #67abe3, #6a67e3, #a667e3);
    background-size: 2000% 2000%;

    -webkit-animation: AnimationName 32s ease infinite;
    -moz-animation: AnimationName 32s ease infinite;
    -o-animation: AnimationName 32s ease infinite;
    animation: AnimationName 32s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

